{% load static %}
{% if user.is_authenticated %}
<!--TOPLEFT NAVBAR-->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="justify-content: space-between;">
  <div id="navbarNavTopLeft">
    <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="logolink" href="#">
              <img src="{% static 'images/CIFIR_Logo.png' %}" id="divLogo" height="90px" width="90px">
          </a>
        </li>
      </ul>
    </div>
<!--TOPRIGHT NAVBAR-->
    <div class="navbar-text" id="navbarNavRight">
    <ul class="navbar-nav">
       


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="profile-dropdown">
              <i class="fas fa-user mr-2"></i>
                <div class="username">{{ user.username }}</div>
            </span>
            
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <form action="">
              <a class="dropdown-item" href='{% url "cifir:profile_view" %}'>Account Setting</a>
              <a class="dropdown-item" href='{% url "cifir:logout_view" %}'>Logout</a>
            </form>
          </div>
        </li>


      </ul>

    </ul>
  </div>
</nav>

<nav class="navbar navbar-expand-sm navbar-dark bg-dark menu-bar">

<!--LOW LEFT NAVBAR-->
  <div id="navbarLowNavLeft">
    <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="navbar" href='{% url "cifir:home_view" %}' data-toggle="tooltip" title="Books"> 
            <span><i class="fas fa-swatchbook"></i></span>
          </a>
          
        </li>
        <li class="nav-item active">
          <a class="navbar" href='{% url "cifir:collections_view" %}' data-toggle="tooltip" title="Collections">
            <span style="color:#FFFFFF;"><i class="far fa-folder"></i></span>
          </a>
          
        </li>
        
        <li class="nav-item active">
          <a class="navbar" href='{% url "cifir:networklibraries_view" %}'>
            <span style="color:#FFFFFF;"><i class="fas fa-globe"></i></span>
          </a>
        </li>
    </ul>
  </div>

  <!--LOW RIGHT NAVBAR-->
  <div class="navbar-text" id="navbarNavLowRight">
    <ul class="navbar-nav">
        <li class="nav-item">
          <a class="navbar" href='{% url "cifir:favorites_view" %}' data-toggle="tooltip" title="Favorites">
            <span><i class="far fa-star"></i></span>
          </a>
          
        </li>
        <li class="nav-item">
          <a class="navbar" href='{% url "cifir:toread_view" %}' data-toggle="tooltip" title="To Read">
            <span><i class="far fa-clock"></i></span>
          </a>
          
        </li>
        <li class="nav-item nav-item-last">
          <a class="navbar" href='{% url "cifir:haveread_view" %}' data-toggle="tooltip" title="Have Read">
            <span><i class="fas fa-check-double"></i></i></span>
          </a>
          
        </li>
    
    </ul>
  </div>
</nav>
</div>
{% endif %}
