{% load static %}
{% for cat in catalog %}
  <li>
    <div class="card" style="width: 18rem;">
      <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="embed-responsive embed-responsive-4by3">
          {% if cat.cover %}
            <img alt="Card image cap" class="card-img-top embed-responsive-item" src="{{ cat.cover }}" style="height: 190px; padding: 10px;" />
          {% endif %}
        </div>
        <div class="card-body">
          <h4 class="card-title">{{ cat.name }}</h4>
          <div class="card-text">
              {{ cat.description }}
        
          </div>  
          <input type="hidden" name="link" id="link" value="{{ cat.link }}">
          <input type="hidden" name="username" id="username" value="{{ cat.defaultUsername }}">
          <input type="hidden" name="password" id="password" value="{{ cat.defaultPassword }}">
          <div class="card-read-more" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
            <div class = 'countBtn'>
              <!-- <button id="{{ cat.name }}" name="{{ cat.name }}" class="btn btn-close-all">Go to {{ cat.name }}</button> -->
              <button type="submit" id="{{ cat.name }}" name="{{ cat.name }}" class="btn btn-all" style="width: 250px;">Go to {{ cat.name }}</button>
            </div>
            <div class = 'countNum' hidden>
              <h4> 0 </h4>
            </div>
            <script type="text/javascript" src="{% static 'javascript/counter.js' %}"></script>
          </div>
        </div>
      </form>
    </div>
  </li>
{% endfor %}
