@import "network-libraries.css";
@import "global.css";
@import "fab.css";


:root {
  --gold: #ED8854;
  --maroon: #E2454F;
  --iconColor: #b3373f;
}
.alert i[class^="bi-"]{
  font-size: 1.5em;
  line-height: 1;
}
/*TOP  NAVBAR */

#spanLogo {
  color: #ffd700;
  font-size: 10px;
}

.logolink,
.logolink:hover {
  text-decoration: none;
}
.navbar-nav {
  flex-direction: row;
}
#navbarNavRight .navbar-nav .nav-item .navbar {
  display: block;
}

.profile-dropdown {
  color: var(--iconColor);
  display: inline-flex;
}
#navbarNavRight .navbar-nav .nav-item .navbar i {
  color: var(--iconColor);
  transition: 0.3s;
}

#navbarNavRight .navbar-nav .nav-item .navbar i:hover {
  color: var(--gold);
  text-shadow: 1px 1px #343a40;
}


#navbarNavRight .navbar-nav .nav-item .navbar i {
  color: var(--iconColor);
  transition: 0.3s;
}

#navbarNavRight .navbar-nav .nav-item .navbar i:hover {
  color: var(--gold);
  text-shadow: 1px 1px #343a40;
}

#navbarNavRight .navbar-nav .nav-item .navbar {
  text-decoration: none;
}

/* #navbarNavRight .navbar-nav .nav-item.nav-item-last {
  border-right: 1px var(--iconColor) solid;
  height: 40px;
} */

.icon-font {
  color: black;
}

.icon-font.icon-font-medium {
  font-size: 20px;
}

.icon-font.icon-font-large {
  font-size: 23px;
}

#imgFlagIcons {
  width: 20px;
}

#formProfileIcon {
  background-color: #E2454F;
  padding: 5px;
  border-radius: 5px;
}

#searchProfileIcon {
  color: #ffffff;
  padding: 0 10px 0 10px;
}
.menu-bar {
  background-image: linear-gradient(-70deg, #ED8854, #E2454F  )!important;
  justify-content: space-between;
}
/* LOWER RIGHT NAV BAR */

/* #navbarNavLowRight .navbar-nav .nav-item.nav-item-last {
  border-right: 1px white solid;
  height: 40px;
} */

#navbarNavLowRight .navbar-nav .nav-item .navbar i {
  color: white;
  transition: 0.3s;
}

#navbarNavLowRight .navbar-nav .nav-item .navbar i:hover {
  color: #38205e;
  text-shadow: 1px 1px var(--maroon);
}

/* @media (max-width: 480px) {
  body {
        display: inline-block;
  }
} */
/*LEFT NAVBAR*/
.span {
  color: #ffffff;
}

hr {
  background-color: var(--iconColor);
  height: 0.3%;
  margin-top: 0;
  margin-bottom: 0;
}


#blankDiv {
  background-color: #f0f0f0;
}

.book-btn {
  position: relative;
  min-width: 160px;
  max-width: 160px;
  margin: 10px;
  background-color: white;
  transition-duration: 0.2s;
}

.book-title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-btn:hover {
  background-color: #fff7cc;
}

.book-btn:hover .dropdown {
  opacity: 100%;
}

.book-btn > .dropdown {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  transition-duration: 0.2s;
  z-index: 10;
}
.book-btn > .dropdown > a {
  background-color: transparent;
  outline: none;
  box-shadow: none;
  color: var(--maroon);
}

/* LOWER LEFT NAV BAR */

#navbarLowNavLeft .navbar-nav .nav-item .navbar i {
  color: white;
  transition: 0.3s;
}

#navbarLowNavLeft .navbar-nav .nav-item .navbar i:hover {
  color: #38205e;
  text-shadow: 1px 1px var(--maroon);
}

/* LOGIN */
.login {
  top: 400px;
  width: 500px;
  border-radius: 10px;
}
.login-body {
  margin-top: 20%;
  margin-bottom: 30%;
  padding: 10px 10px 10px 10px;
}
.login h1 {
  font-family: "Verdana";
  text-align: center;
  margin-top: 10px;
  padding: 0 0 20px 0;
  font-style: normal;
  font-weight: 750;
  font-size: 2rem;
  color: #ffffff;
}
.login form {
  padding: 0 40px;
  box-sizing: border=box;
}

.panel-transparent {
  background-image: linear-gradient(-90deg, #ED8854, #E2454F );
  border-radius: 15px;
  align-content: center;
}
.forgot-password {
  margin-top: 5px;
  color: #ffffff;
  cursor: pointer;
}

#divLogo {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#login-button {
  font-family: 'Roboto';
  font-weight: 600;
  border: none;
  color: #ca3943;
  background-color: white;
  padding: 5px 20px;
  transition-duration: 0.2s;
  border-radius: 15px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(207, 207, 207);
  opacity: 1; /* Firefox */
}

#login-button:hover {
  background-color: rgb(255, 240, 158);
}

.btn-link-pass {
  color: #ED8854 !important;
  opacity: 100%;
  align-items: flex-end;
}

.btn-link {
  color: white !important;
  opacity: 50%;
  align-items: flex-end;
}

.login-inputs {
  padding: 5px;
  outline: none;
}
.login-citlogo {
  width: 250px;
  height: 250px;
  opacity: 0.5;
  z-index: -2;
}

.login-citlogo.under {
  position: fixed;
  right: 70px;
  bottom: 250px;
  -webkit-animation: spin 5s linear infinite;
  -moz-animation: spin 5s linear infinite;
  animation: spin 5s linear infinite;
}

.login-citlogo.over {
  position: fixed;
  right: 70px;
  bottom: 250px;
  z-index: -1;
}

.login-citlogo.topGear {
  position: fixed;
  right: -120px;
  bottom: 400px;
  -webkit-animation: spin 5s linear infinite;
  -moz-animation: spin 15s linear infinite;
  animation: spin 5s linear infinite;
  animation-direction: reverse;
}
.login-citlogo.bottomGear {
  position: fixed;
  right: -120px;
  bottom: 100px;
  -webkit-animation: spin 10s linear infinite;
  -moz-animation: spin 10s linear infinite;
  animation: spin 5s linear infinite;
  animation-direction: reverse;
}
/*use keyframes*/
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.card-body.collection-folders {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 160px));
  gap: 8px;
  
}

.modal-body.collection-folders {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 180px));
  gap: 8px;
  justify-content: center;
}

.card-header {
  display: flex;
  justify-content: space-between;
  color: var(--iconColor);
  font-family: Verdana;
  font-size: small;
  font-weight: 600;
}
.card-header i {
  margin-top: 4px;
  margin-right: 8px;
  color: var(--iconColor);
}
.card-header i:last-child {
  margin-right: 0px;
  color: var(--iconColor);
}



/* EpubRead */

[id^="epubjs-container"] {
  overflow: hidden !important;
}

.field-search {
  display: inline-flex;
  position: relative;
}

.input-search {
  background-color: white;
  border-radius: 4px;
  border: 0px;
  outline: none;
  margin: 0;
  padding: 0 32px 0 8px;
}

.icon-search {
  position: absolute;
  right: 8px;
  color: var(--iconColor);
  cursor: pointer;
}

/*EPUB READ */
#viewer.spreads {
  width: 1500px;
  height: 600px;
  box-shadow: 0 0 4px #ccc;
  border-radius: 5px;
  padding: 0;
  position: center;
  margin: 10px auto;
  top: calc(50vh - 400px);
}

#viewer.spreads .epub-view > iframe {
  background: white;
}

#prev {
  left: 0;
}

#next {
  right: 0;
}

/*#toc {
  display: block;
  margin: 10px auto;
}*/

/*.display {
  display: block;
  margin: 10px auto;
}*/



  #viewer.spreads.single:after {
    display: none;
  }

  #prev {
    left: 15px;
  }

  #next {
    right: 15px;
  }

.arrow {
  position: fixed;
  top: 50%;
  margin-top: -32px;
  font-size: 50px;
  color: #E2454F;
  font-family: arial, sans-serif;
  font-weight: bold;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  text-decoration: none;
}

.arrow:hover,
.navlink:hover {
  color: #ED8854;
}

.arrow:active,
.navlink:hover {
  color: #000;
}

#book-wrapper {
  width: 480px;
  height: 640px;
  overflow: hidden;
  border: 1px solid #ccc;
  margin: 28px auto;
  background: #fff;
  border-radius: 0 5px 5px 0;
  position: absolute;
}

#book-viewer {
  width: 480px;
  height: 660px;
  margin: -30px auto;
  -moz-box-shadow: inset 10px 0 20px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 10px 0 20px rgba(0, 0, 0, 0.1);
  box-shadow: inset 10px 0 20px rgba(0, 0, 0, 0.1);
}

#book-viewer iframe {
  padding: 40px 40px;
}

.btn-all {
    color: white;
    background-color: #ec8554;
}

.btn-close-all {
    color: white;
    background-color: #E2454F;
}

.card-text { 
  width: 250px; 
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: justify;
  word-spacing: -2px;
}


/* Book Slider */
.slider {
  width: 100%;
  height: 250px;
  text-align: center;
}

.slider div {
  margin-bottom: 1px;
  padding-bottom: 1px;
  margin-top: 5px;
  padding-top: 1px;
}

.slick-slide {
  opacity: 1;
  width: 10px;
}

.slick-dots{
  top: 200px;
}

.slick-disabled {
    opacity: 0;
    pointer-events:none;
}

.list{
  margin-bottom: -30px;
}

.btn-next{
  background-color: #ED8854;
  color: #FFFFFF;
  position: absolute;
  z-index: 1000;
  top: 70%;
  right: -60px;
  border-radius: 50%;
}

.btn-next:hover{
  background-color: #ED8854;
  color: #E2454F;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.btn-prev{
  background-color: #ED8854;
  color: #FFFFFF;
  position: absolute;
  z-index: 1000;
  top: 70%;
  left: -60px;
  border-radius: 50%;
}

.btn-prev:hover{
  background-color: #ED8854;
  color: #E2454F;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
