{% extends "base.html" %} {% load static %}  
{% block title %} Change Password{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Profile</title>
        <!---Bootstrap Link-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" crossorigin="anonymous">
        <!--FontAwesomeLink-->
        <script src="https://kit.fontawesome.com/982a9b46d2.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        
        <!--CSS LINK-->
        <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    </head>

<body>
    <div class="wrapper bg-white mt-sm-5">
        <h3> Change Password </h3> 
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-all" type="submit"> Change Password </button> 
            </form>
        </div> 
    </div>
</body>

{% endblock %}




