{% extends "base.html" %}
{% load static %}
{% block content %}
<br />
<div class="container-fluid">
     <div class="card">
    <div class="card-header">
			<span>
				<i class="fas fa-check-double icon-link"></i>
				<a class="icon-link icon-link-icon" href='{% url "cifir:haveread_view" %}'>
					Have Read
				</a>
			</span>
		</div>
    <div class="card-body collection-folders">
      <!-- {% for book in books %} -->
      <!-- <form action="/cifir/epub/" method="POST" id="bookform"> -->
      <!-- NO ACTION AND ID YET -->
      <!-- <button
          type="submit"
          class="btn btn-light"
          name="book"
          value="{{book.name}}"
          form="bookform"
        >
          <div class="i-folders">
            <i class="fas fa-book"></i>
          </div>
          <h6>{{ book.title}}</h6>
          <input type="text" name="book_id" value="{{book.id}}" hidden />
        </button> -->
      {% include './components/TheBook.html' %}
      <!-- </form> -->
      <!-- {% if book.file %}
      <a href="{{ book.file.url }}"></a>
      {% endif %} {% endfor %} -->
    </div>
  </div>
</div>
{% endblock content %}
