{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>CIFIR</title>
	<!---Bootstrap Link-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"crossorigin="anonymous">
	<!--FontAwesomeLink-->
	<script src="https://kit.fontawesome.com/982a9b46d2.js" crossorigin="anonymous"></script>
	<!-- Google fonts-->
	<link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

	<!--CSS LINK-->
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	
</head>
<body>
<!--TOPLEFT NAVBAR-->
<nav class="navbar navbar-light bg-light">
	<div id="navbarNavTopLeft">
	  <ul class="navbar-nav">
			<li class="nav-item active">
				<a class="logolink" href="#">
						<img src="{% static 'images/CIFIR_Logo.png' %}" id="divLogo" height="60px" width="60px">
				</a>
			</li>
		</ul>
	</div>
</nav>

<div class = "d-flex justify-content-center">
   <div class ="login">
        <div class= "panel-transparent">
            <div class= "login-body">
            	<form class="" method="POST">
            	{% csrf_token %}
                <h1>LOGIN</h1>
                    <div class="txt_field">
                        <input class="w-100 login-inputs rounded" type="text" placeholder="Email" name="email" maxlength="150" required="" id="email">
                        <span></span>
						<br>
						<br>
                    </div>
                    <div class="txt_field">
                        <input class="w-100 login-inputs rounded" type="password" placeholder="Password" name="password" autocomplete="new-password" required="" id="password">
                        <span></span>
                    </div>
					<br>
					<div class="d-flex justify-content-center ">
                    	<input type="submit" value="LOGIN" name="loginBtn" id="login-button">
					</div>
				<div style='background-color:#FFD700;'>
					{% if messages %}
					<ul class="messages">
					    {% for message in messages %}
					    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
					    {% endfor %}
					</ul>
					{% endif %}
				</div>
			</form>
            </div>
        </div>
    </div>
</div>
<img src="{% static 'images/CITULogo.png' %}" class="login-citlogo over">
<img src="{% static 'images/CITUGear1.png' %}" class="login-citlogo under">
<img src="{% static 'images/CITULogo.png' %}" class="login-citlogo topGear">
<img src="{% static 'images/CITUGear2.png' %}" class="login-citlogo topGear">
<img src="{% static 'images/CITULogo.png' %}" class="login-citlogo bottomGear">
<img src="{% static 'images/CITUGear3.png' %}" class="login-citlogo bottomGear">

</body>

