{% extends "base.html" %} {% load static %} {% block extrascriptheader %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.5/jszip.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/epubjs/dist/epub.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.5/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.9.359/pdf.min.js"
    integrity="sha512-U5C477Z8VvmbYAoV4HDq17tf4wG6HXPC6/KM9+0/wEXQQ13gmKY2Zb0Z2vu0VNUWch4GlJ+Tl/dfoLOH4i2msw==" crossorigin="anonymous"
    referrerpolicy="no-referrer"></script>


{% endblock extrascriptheader %} {% block content %}
<div class="container-fluid"> <br>
  <div class="card">
    <!--  HEADER -->
    <div class="card-header" style="font-size: 13px">
      {% for book in books %}
      <span style="font-size: 13px">
        <i class="fas fa-book"></i>
        {{book.title}}
        <p id="book1" hidden>{{ book.file }}</p>
        <input type="text" id="bookId" name="bookId" value="{{ book.id }}" hidden>
      </span>

       <!-- NO OF PAGES -->
       <div style="display: flex; text-align: center;">
          <span id="current_page" >0 of 0</span>
        </div>

      <span class="text-right">
       <!-- TOC, NO OF PAGES, FONT SETTINGS -->
      <div class="container">
        <div class="row">
          <div class="col">
            <!-- Cog-->
            <button style="border:none; color: none;" data-toggle="modal" data-target="#fontsModal">
              <i class="fas fa-cog icon-link icon-link-icon"></i></button>
          </div>
          <div class="col">
            <!-- Bookmark -->
            <form method="POST" enctype="multipart\form-data" id='bookmark-submit'>
              {% csrf_token %}
              <button type="submit" class="fas fa-bookmark icon-link icon-link-icon" style="border:none; color: none" id="add-bookmark" name="add-bookmark"></button>
              <input type="text" id="bookmarkId" name="bookmarkId" hidden>
              <input type="text" id="bookmarkIndex" name="bookmarkIndex" hidden>
              <input type="text" id="currentBook" name="currentBook" value="{{ book.id }}" hidden>
              <input type="text" value="{{ currentPage }}" id="current-page" hidden>
            </form>
          </div>
          <div class="col-sm">
            <!-- StickyNote -->
            <button style="border:none; color: none;" data-toggle="modal" data-target="#bookmarkModal"><i class="fas fa-sticky-note icon-link icon-link-icon"></i></button>
          </div>
        </div>
      </div>
      
      <!-- MODALS -->
        <!-- Cog Modal-->
        <div class="modal fade" id="fontsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header"> Font Size
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" style="height: 100px; display: flex; align-items: center; justify-content: center;">
                <span style="padding-left: 2em;"> 
                  <a class="btn" id="decreaseFont">
                    <span class="icon-font"><i class="fas fa-minus icon-link icon-link-icon"></i></span>
                  </a>
                  <span id="zoomValue">100%</span>
                  <a class="btn" id="increaseFont">
                    <span class="icon-font"><i class="fas fa-plus icon-link icon-link-icon"></i></span>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
        <!-- StickyNote Bookmark-->
        <div class="modal fade" id="bookmarkModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Bookmarks</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <!-- StickyNote Modal -->
            <div class="modal-body" style="overflow-y: scroll; height: 500px;">
              <div id="bookmarksView" class="view">
                <div id="bookmarksView" class="view">
                  <h6>{{ book.title }}</h6>
                  <ul style="display: table; margin: 0 auto;">
                  {% for bookmark in allBookmarks %}
                    <li style="display: block;">
                      <div style="margin-bottom: 5px;">
                        <button style="width: 150%; border:none; color: none; font-size: 15px" class="mark" id="bookmark-items{{ bookmark.id }}" value='{{ bookmark.bookpage }}'> <i class="fa fa-bookmark" style="padding-right: 5px; color: darkred;"></i> <span style="font-weight: bold;">  Page {{ bookmark.page_index }} </span></button>
                      </div>
                    </li>
                  {% endfor %}
                  </ul>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </span>
  </div>
  <!--  HEADER END -->
  <!-- TOC, NO OF PAGES, FONT SETTINGS END-->

  <!-- READER -->
    <div class="container card-body">
      <div class="row">
        <div id="viewer" class="spreads" style="overflow: auto; text-align: center;">
          <main>
            <h3 hidden>Open a PDF file</h3>
            <canvas class="pdf-viewer hidden">
            </canvas>
          </main>
           <!-- NEXT , PREVIOUS BUTTONS -->
          <a id="prev" href="#prev" class="arrow">‹</a>
          <a id="next" href="#next" class="arrow">›</a>
        </div>

          <!-- ZOOM HIDDEN-->
          <li hidden>
            <span id="zoomValue">100%</span>
            <input type="range" id="zoom" name="cowbell" min="100" max="300" value="100" step="25" disabled>
          </li>
      </div>
    </div>
    <!-- TTS -->
    <div class="card-header" style="display: flex; align-items: center; justify-content: center;">
      
      <div class="tts-buttons">
        <form method='POST' action="" enctype="multipart/form-data" id="tts-btn">
          {% csrf_token %}
          <div style=" color: darkgray; font-size:.7em ;padding-bottom: 1em;">
            Press ⌴ to stop
          </div>
          <!-- Play -->
          <button id="tts-btn" name="tts-btn" class="btn btn-close-all" style="border-radius: .2em; margin-left: 1em;" type="submit">
            <i class="fas fa-play" style="color: #FFFFFF;"></i>
          </button>
          <input type="text" id="bookFile" name="bookFile" value="{{ book.file }}" hidden>
          <input type="text" id="currentpage" name="currentpage" hidden>
          
        </form>
      </div>
    </div>
    <!-- TTS END -->
    {% endfor %}
  </div>
</div>
{% endblock content %} {% block extrascriptfooter %}

<script defer>

  //--- SEARCH *NOT YET FINISHED* ---//
  // var input = document.getElementById("input-search");
  // Execute a function when the user releases a key on the keyboard
  
  // input.addEventListener("keyup", function (event) {
  //   // Number 13 is the "Enter" key on the keyboard
  //   if (event.keyCode === 13) {
  //     console.log("object");
  //     // Cancel the default action, if needed
  //     event.preventDefault();
  //     // Trigger the button element with a click
  //     document.getElementById("btn-search").click();
  //   }
  // });

  // function search() {
  //   alert("search");
  // }
  //--- END OF SEARCH ---//


  console.log('hellooo')
  var count = 0;
  var x = 150;
  const zoomButton = document.getElementById('zoom');
  const currentPage = document.getElementById('current_page');
  const viewer = document.querySelector('.pdf-viewer');
  let currentPDF = {}

function resetCurrentPDF() {
  currentPDF = {
    file: null,
    countOfPages: 0,
    currentPage: 0,
    zoom: 1.5
  }   
}


var bookElement = document.getElementById("book1");

var url = window.location.protocol + "//" + window.location.hostname;
  if (window.location.port) url += ":" + window.location.port;

  fetch("https://cifirstorage.blob.core.windows.net/media/" + bookElement.innerHTML)
    .then((response) => response.blob())
    .then(function (myBlob) {
      console.log(myBlob);
      if (myBlob.type == 'application/pdf') {
    const reader = new FileReader();
    reader.readAsDataURL(myBlob);
    reader.onload = () => {
      loadPDF(reader.result);
      zoomButton.disabled = false;
    }
  }
  else {
    console.log("The file you are trying to open is not a pdf file!")
  }
    });



zoomButton.addEventListener('input', () => {
  if (currentPDF.file) {
    document.getElementById('zoomValue').innerHTML = zoomButton.value + "%";
    currentPDF.zoom = parseInt(zoomButton.value) / 100;
    renderCurrentPage();
  }
});

document.getElementById('next').addEventListener('click', () => {
  const isValidPage = currentPDF.currentPage < currentPDF.countOfPages;
  if (isValidPage) {
    currentPDF.currentPage += 1;

    if (window.localStorage.length === 0){
      localStorage.setItem(document.getElementById('bookId').value, currentPDF.currentPage);
    }else{
      console.log('else');
      if (localStorage.getItem(document.getElementById('bookId').value) !== null){
        console.log("Book Already exist in the array");
        localStorage.setItem(document.getElementById('bookId').value, currentPDF.currentPage);
        console.log(localStorage.getItem(document.getElementById('bookId').value));
      }else{
        localStorage.setItem(document.getElementById('bookId').value, currentPDF.currentPage);
      }
    } 

    renderCurrentPage();
  }
});

document.getElementById('prev').addEventListener('click', () => {
  const isValidPage = currentPDF.currentPage - 1 > 0;
  if (isValidPage) {
    currentPDF.currentPage -= 1;

    if (window.localStorage.length === 0){
      localStorage.setItem(document.getElementById('bookId').value, currentPDF.currentPage);
    }else{
      console.log('else');
      if (localStorage.getItem(document.getElementById('bookId').value) !== null){
        console.log("Book Already exist in the array");
        localStorage.setItem(document.getElementById('bookId').value, currentPDF.currentPage);
        console.log(localStorage.getItem(document.getElementById('bookId').value));
      }else{
        localStorage.setItem(document.getElementById('bookId').value, currentPDF.currentPage);
      }
    }

    renderCurrentPage();
  }
});



document.addEventListener('keydown',(event) => {
  var code = event.keyCode;
  // console.log(code);

  if(code == 37) {
    console.log('key left is pressed');
    const isValidPage = currentPDF.currentPage < currentPDF.countOfPages;
          if (isValidPage) {
            currentPDF.currentPage -= 1;
            renderCurrentPage();
          }
  }

  if(code == 39) {
    console.log('key right is pressed');
    const isValidPage = currentPDF.currentPage < currentPDF.countOfPages;
          if (isValidPage) {
            currentPDF.currentPage += 1;
            renderCurrentPage();
          }
  }
})

//TTS
  var TTSclicked = function(){
     console.log("tts clicked from script");
     var thispage = currentPDF.currentPage-1;
     console.log(thispage);
     document.getElementById('currentpage').value = thispage;
  }


ttsbtnclicked = document.getElementById('tts-btn');
ttsbtnclicked.addEventListener("click",TTSclicked);

//TTS END

//BOOKMARK
     var saveBookMark = function () {
        console.log("bookmark clicked");

        var thispage = currentPDF.currentPage;
        console.log(thispage);
        document.getElementById('bookmarkId').value = thispage;

  //END-BOOKMARK
  }



  $(".mark").on("click", function(e) {
      console.log('goto this bookmark')

      console.log($(this).attr('id'));

      var id = $(this).attr('id');
      console.log('ID: '+id);

      var newLoc = document.getElementById(id).value;

      console.log(newLoc);
      const isValidPage = newLoc < currentPDF.countOfPages;
        if (isValidPage) {
          currentPDF.currentPage = Number(newLoc);
          renderCurrentPage();
        }
  });



addBookMarkBtn = document.getElementById('add-bookmark');
addBookMarkBtn.addEventListener("click",saveBookMark);

var addBookMark = document.getElementById('bookmark-submit');

addBookMark.onsubmit = function(){

  setTimeout(() => {
    window.location.reload();

    console.log('reload');
    var lastBookmarked = document.getElementById("current-page").value;
    console.log(lastBookmarked);

  }, 500);

  

};

function loadPDF(data) {
  const pdfFile = pdfjsLib.getDocument(data);
  resetCurrentPDF();
  pdfFile.promise.then((doc) => {
    currentPDF.file = doc;
    currentPDF.countOfPages = doc.numPages;
    viewer.classList.remove('hidden');
    document.querySelector('h3').classList.add("hidden");

    if (window.localStorage.length === 0){
      // localStorage.setItem(document.getElementById('bookId').value, 1);
      currentPDF.currentPage = 1;
      renderCurrentPage();
    }else{
      // window.localStorage.clear();
      currentPDF.currentPage = Number(localStorage.getItem(document.getElementById('bookId').value));
      renderCurrentPage();
    }

    
  });

}

function renderCurrentPage() {
  currentPDF.file.getPage(currentPDF.currentPage).then((page) => {
    var context = viewer.getContext('2d');
    var viewport = page.getViewport({ scale: currentPDF.zoom, });
    viewer.height = viewport.height;
    viewer.width = viewport.width;

    var renderContext = {
      canvasContext: context,
      viewport: viewport
    };
    page.render(renderContext);
  });
  currentPage.innerHTML = currentPDF.currentPage + ' of ' + currentPDF.countOfPages;
}


    document.getElementById("increaseFont").addEventListener("click", increaseFontSize);
    document.getElementById("decreaseFont").addEventListener("click", decreaseFontSize);



  //CHANGE FONT FUNCTIONS
    function increaseFontSize() {
    console.log("click");
    if (currentPDF.file) {
      x+=25;
      count*=x;
      document.getElementById('zoomValue').innerHTML = x + "%";
      currentPDF.zoom = parseInt(x) / 100;
      renderCurrentPage();
      count++;
    }
    }

    function decreaseFontSize() {
       console.log("click");
    if (currentPDF.file) {
      x-=25;
      count*=x;
      document.getElementById('zoomValue').innerHTML = x + "%";
      currentPDF.zoom = parseInt(x) / 100;
      renderCurrentPage();
      count--;
    }
    }

    //CHANGE FONT FUNCTIONS END


  function post(path, params, method = "post") {
    const form = document.createElement("form");
    form.method = method;
    form.action = path;

    for (const key in params) {
      if (params.hasOwnProperty(key)) {
        const hiddenField = document.createElement("input");
        hiddenField.type = "hidden";
        hiddenField.name = key;
        hiddenField.value = params[key];

        form.appendChild(hiddenField);
      }
    }
    document.body.appendChild(form);
    form.submit();
  }


</script>
{% endblock extrascriptfooter %}
