.fab-wrapper {
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.fab-wrapper button {
  color: white;
  background-color: var(--maroon);
  border: none;
  border-radius: 50%;
  padding: 20px 23px;
  outline: none;
  cursor: pointer;
  transition: ease-in 0.15s;
}

.fab-wrapper button:hover {
  color: var(--gold);
}

.fab-wrapper button i {
  font-size: 1.5rem;
}
