.i-folders {
  font-size: 80px;
}

.i-folders .fa-folder,
.fa-book {
  color: #FFE797;
}

.icon-link {
  text-decoration: none !important;
  color: #ca3943;
}

.icon-link-icon {
  color: #ca3943;
  cursor: pointer;
}

.icon-link-icon:hover {
  color: #ED8854;
}
